<% include ../partials/header %>
<body>
  <header><% include ../partials/navbar %></header>
  <main class="main">
    <div class="container">
      <div class="page-header">
        <h1>About Jeremiah</h1>
      </div>
      <div class="row">
        <div class="col-md-9">
          <br />
          <p>
            I a diligent and dedicated Computer Programmer with an innate drive
            for learning. He's not just passionate about coding but thrives on
            hard work and commitment in every task he undertakes. I firmly
            believes in writing code that's clean, readable, and organized. He
            emphasizes reducing code redundancy and maximizing efficiency. Above
            all, I am always prepared to test and delve into every possible
            scenario, ensuring the best possible outcomes in his work.
          </p>
          <p></p>
          <br />
        </div>
        <div class="col-md-3">
          <img src="../images/jerem.png" alt="jeremiah" />
        </div>
      </div>

      <!-- qualifications section -->
      <div class="row">
        <div class="col-lg-12">
          <h2 class="page-header">Qualifications</h2>
        </div>
        <div class="col-lg-4 col-sm-6 text-center">
          <img
            class="img-center"
            src="../images/responsive_web_development.png"
            height="200"
            alt="Responsive Web Design"
          />
          <h3>Responsive Design<br /><small>CSS, Bootstrap</small></h3>
          <p>Website that is responsive to the scale of any devices.</p>
        </div>

        <div class="col-lg-4 col-sm-6 text-center">
          <img
            class="img-center"
            src="../images/mean.png"
            height="200"
            alt="MEAN stack"
          />
          <h3>
            MEAN stack<br /><small
              >MongoDB, Express.js, Angular.js, and Node.js</small
            >
          </h3>
          <p>Building a Dynamic Web Application</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-sm-6 text-center">
          <img
            class="img-center"
            src="../images/java-logo.png"
            height="200"
            alt="Java"
          />
          <h3>OOP<br /><small>Java</small></h3>
          <p>Object-Oriented Programming</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center">
          <img
            class="img-center"
            src="../images/Octocat.png"
            height="200"
            alt="GitHub"
          />
          <h3>Version Control<br /><small>GitHub</small></h3>
          <p>Continuous version control to manage projects timely manner.</p>
        </div>
      </div>
    </div>
  </main>
  <% include ../partials/footer %>
</body>
